---
layout: default
lang: cn
ref: index
image: true
exclude: true
---

{% include core/metabar.html %}

<main>
  <div class="container py-2">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid pt-3">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 order-2">
            <h1 class=" fw-bold">关于我们</h1>
            <p >我们致力于满足用户多元学习和咨询需求，助力学员自信成长，帮助用户实现升学、移民、求职等梦想，成为备受尊敬的人。</p>
            <a href="/about-us"class="btn btn-primary" type="button">了解更多</a>    
          </div>
          <div class="col-md-5 order-1 order-md-2">
            <img class="img-fluid" src="/assets/images/school-flatline.png" alt="learning"/> 
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3 d-flex flex-column">
          <h2>STEP中文</h2>
          <img class="img-fluid" src="/assets/images/online-lesson-flatline.png" alt="learning"/> 
          <div class="mt-auto">
            <p>探索适合3-18岁孩子的STEP中文课程，融合灵活时间、个性教学和沉浸式学习，由十年经验的顶级语文团队领导。选择STEP，轻松学中文，1对1或小组授课，让实力代言。</p>
            <a href="/step" class="btn btn-outline-light" type="button">了解更多</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3 d-flex flex-column">
          <h2>Saxon青少年数学思维</h2>
          <img class="img-fluid" src="/assets/images/teacher-flatline.png" alt="learning"/> 
          <div class="mt-auto">
            <p>探索适合4-12岁以英语为第一语言的孩子的SAXON数学思维课程。采用螺旋渐进教学法，设立阶段性目标，提供个性化教学，班主任跟踪学习，以及定期测试和家长会，致力于激发学习兴趣和强化数学思维。SAXON，严选好老师，用学习效果说话。</p>
            <a href="/saxon" class="btn btn-outline-secondary" type="button">了解更多</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>


{% include core/footer.html %}
