<ul class="nav d-flex flex-column flex-lg-row">
{% assign entries = site.pages | where: "locale", page.locale | sort: "order" %}
{% for entry in entries %}
	{% unless entry.exclude == true %}
    <li class="nav-link">
      <a class="{% if page.url == entry.url %} nav-active{% endif %}" href="{{ site.baseurl }}{{ entry.url }}" aria-label="{{ entry.title }}">{{ entry.title }}</a>
    </li>
	{% endunless %}
{% endfor %}
{% for entry in site.navigation %}
  <li class="nav-link">
    <a href="{{ entry[1] }}" aria-label="{{ entry[0] }}">{{ entry[0] }}</a>
  </li>
{% endfor %}
  <li class="text-uppercase">
    <a class="nav-link" role="button"  
    href="
    {% if page.name == "index.html" %}
      {{ site.data.nav[page.locale].nav.switchLangURL }}{{page.name | replace:'index.html','' }}
    {% elsif page.collection.size %}
      {{ site.data.nav[page.locale].nav.switchLangURL }}{{page.collection}}/{{page.slug}}
    {% else %}
      {{ site.data.nav[page.locale].nav.switchLangURL }}{{page.name | replace:'.html','' }}
    {% endif %}
    ">  
    {{ site.data.nav[page.locale].nav.switchLang }}
    </a>
  </li>
</ul>
