---
layout: default
---

<main>
  <div class="container py-2">

    <!-- <div class="h-100 bg-light border rounded-3 d-flex flex-column mb-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/promotional/promotional1.jpg" class="d-block w-100 rounded-3" alt="promotional1">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/promotional/promotional2.jpg" class="d-block w-100 rounded-3" alt="promotional2">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/promotional/promotional3.jpg" class="d-block w-100 rounded-3" alt="promotional3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div> -->

    <!-- Unified Content Section with all three elements -->
    <div class="row align-items-md-stretch mb-4">
      <!-- About Us Section -->
      <div class="col-md-4">
        <div class="h-100 p-4 bg-light rounded-3 d-flex flex-column">
          <h2 class="fw-bold">{{ site.data.home[page.locale].home.aboutUs }}</h2>
          <img class="img-fluid mb-3" src="/assets/images/school-flatline.png" alt="learning" />
          <div class="mt-auto">
            <p>{{ site.data.home[page.locale].home.aboutDesc }}</p>
            <a href="/about-us" class="btn btn-primary" type="button">{{ site.data.home[page.locale].home.learnMore
              }}</a>
          </div>
        </div>
      </div>

      <!-- Step Section -->
      <div class="col-md-4">
        <div class="h-100 p-4 text-white bg-dark rounded-3 d-flex flex-column">
          <h2>{{ site.data.home[page.locale].home.step }}</h2>
          <img class="img-fluid mb-3" src="/assets/images/online-lesson-flatline.png" alt="learning" />
          <div class="mt-auto">
            <p>{{ site.data.home[page.locale].home.stepDesc }}</p>
            <a href="/step" class="btn btn-outline-light" type="button">{{ site.data.home[page.locale].home.learnMore
              }}</a>
          </div>
        </div>
      </div>

      <!-- Saxon Section -->
      <div class="col-md-4">
        <div class="h-100 p-4 bg-light border rounded-3 d-flex flex-column">
          <h2>{{ site.data.home[page.locale].home.saxon }}</h2>
          <img class="img-fluid mb-3" src="/assets/images/teacher-flatline.png" alt="learning" />
          <div class="mt-auto">
            <p>{{ site.data.home[page.locale].home.saxonDesc }}</p>
            <a href="/saxon" class="btn btn-outline-secondary" type="button">{{
              site.data.home[page.locale].home.learnMore }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>