---
layout: default
---

<main>
  <div class="container py-2">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid pt-3">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 order-2">
            <h1 class=" fw-bold">{{ site.data.home[page.locale].home.aboutUs }}</h1>
            <p >{{ site.data.home[page.locale].home.aboutDesc }}</p>
            <a href="/about-us"class="btn btn-primary" type="button">{{ site.data.home[page.locale].home.learnMore }}</a>    
          </div>
          <div class="col-md-5 order-1 order-md-2">
            <img class="img-fluid" src="/assets/images/school-flatline.png" alt="learning"/> 
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3 d-flex flex-column">
          <h2>{{ site.data.home[page.locale].home.step }}</h2>
          <img class="img-fluid" src="/assets/images/online-lesson-flatline.png" alt="learning"/> 
          <div class="mt-auto">
            <p>{{ site.data.home[page.locale].home.stepDesc }}</p>
            <a href="/step" class="btn btn-outline-light" type="button">{{ site.data.home[page.locale].home.learnMore }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3 d-flex flex-column">
          <h2>{{ site.data.home[page.locale].home.saxon }}</h2>
          <img class="img-fluid" src="/assets/images/teacher-flatline.png" alt="learning"/> 
          <div class="mt-auto">
            <p>{{ site.data.home[page.locale].home.saxonDesc }}</p>
            <a href="/saxon" class="btn btn-outline-secondary" type="button">{{ site.data.home[page.locale].home.learnMore }}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
