---
layout: default
font: sans
---

<article class="content page">
  <header class="hero">
    <h1 class="hero-title">{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.image %}
      <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpg')"></div>
    {% endif %}
  </header>

  <div class="content-style d-flex flex-column align-items-center">
    {{ content }}
  </div>
</article>

